colorama>=0.4.4
datetime
requests
requests_html
requests
json
fake_useragent
fade
base64
os
io
re
time
gzip
random
pyppeteer
hashlib
fake_useragent
fade
uuid
tqdm
zipfile
selenium
bs4
selectolax